@import url(./default.css);
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
:root{
    --border: 1px #000 solid;
}
body{
    font-family: 'Pretendard-Regular', Helvetica,sans-serif ,serif;
}
header{
    background-color: #447fac;
    color: #fff;
    padding: 10px;
    font-size: 1.5em;
}
main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main>div{
    max-width: 500px;
    /* border: var(--border); */
    padding: 10px;
    width: 100%;
}
/* 현재 날짜, 시간 */
    #realtime,#realdate{
        text-align: center;
        font-size: 1.3em;
    }
    #realtime{
        font-size: 3em;
        padding: 0;
    }
/* 결과 화면 */
/* 컨트롤 버튼 */
    .control-btn{
        display: flex;
        flex-wrap: nowrap;
        gap: 15px;
        justify-content: center;
    }
    .control-btn button{
        width: 100%;
        padding: 7px 15px;
        border: var(--border);
        /* border-radius: 10px; */
    }
/* 연령, 성별 버튼 */
.btn-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 5px;
    margin-bottom: 5px;
}
.btn-row .btn{
    width: 100%;
    padding: 8px;
    border: var(--border);
}
.btn:hover{
    background-color: #d6d6d6;
}
/* ----------------- */
.stock-time{
    padding-left: 20px;
}
/* ----------------- */
table{
    width: 100%;
    text-align: center;
}

table tr > td:nth-child(1){
    width: 25%;
}
table tr > td:nth-child(2){
    width: calc(75% / 2);
}
table tr > td:nth-child(3){
    width: calc(75% / 2);
}
table, td, th{
    border: var(--border);
    border-collapse : collapse;
}

/* ----------------- */
.dpnone{
    display: none;
}